/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 2em;
  color: #333;
}

#cityInput {
  width: 80%;
  padding: 10px;
  font-size: 1em;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#getWeatherButton {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#getWeatherButton:hover {
  background-color: #45a049;
}

#weatherDetails {
  margin-top: 20px;
  font-size: 1.2em;
  color: #333;
}

.error {
  color: red;
}

#toggleTempButton {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#toggleTempButton:hover {
  background-color: #0b7dda;
}

#weatherContainer {
  background: rgba(255, 255, 255, 0.8); /* Transparent background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 400px;
}

h2 {
  color: #333;
  font-size: 2rem;
  margin-bottom: 20px;
}

#cityHistory {
  font-size: 1rem;
  color: #555;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

button:hover {
  background-color: #45a049;
}

/* Mobile responsive */
@media (max-width: 600px) {
  #weatherContainer {
    width: 90%;
  }
  h2 {
    font-size: 1.5rem;
  }
  #weatherDetails,
  #cityHistory {
    font-size: 1rem;
  }
}
